---
layout: page
title: Definitions
---

| Term | Definition | Applies to |
|------|------------|------------|
{{.Table}}

---

## Continue Reading

- **< Previous Page**: [Scope](./01-scope)
- **> Next Page**: [Foundational Concepts](./03-foundational-concepts)

---
